@model List<Lab.Tp7.Common.Models.ShippersModel>

@{
    ViewBag.Title = "Shippers Page";
}


<h3>Listado de Shippers</h3>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre de la Compania</th>
            <th scope="col">Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shipper in Model)
        {
            <tr>
                <td>@shipper.Name</td>
                <td>@shipper.Phone</td>
                <td>@Html.ActionLink("Modificar", "Update", new { id = shipper.Id, name = shipper.Name, phone = shipper.Phone }, new { @Class = "btn btn-info" })</td>
                <td>@Html.ActionLink("Borrar", "Delete", new { id = shipper.Id }, new { @class = "btn btn-danger" , onclick =" return confirm ('¿esta seguro de borrar?')"})</td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Insertar Nuevo Shipper", "Insert",null, new { @class= "btn btn-info" })
</div>


